POSTGRES_DB=puchamon
POSTGRES_USER=puchamon
POSTGRES_PASSWORD=puchamon
POSTGRES_PORT=5432

API_PORT=8080
FRONT_PORT=4200
SPRING_PROFILES_ACTIVE=docker

JWT_SECRET=change_me_super_secret
JWT_ACCESS_TTL_MINUTES=15
JWT_REFRESH_TTL_DAYS=7
